h1 Explorations in Asynchronicity
  div#subtitle
    span.subtitle-item#subtitle-name by
      a(href='http://www.matthiasjenny.com')= ' Matthias Jenny'
    span.subtitle-item#subtitle-discussion
      a(href='https://medium.com/@matthiascjenny/async-recursion-promising-surprising-but-foremost-confusing-5e13aa8bbc06') Discussion
    span.subtitle-item#subtitle-api
      a(href='https://github.com/m1010j/async-explorations#api') API
    span.subtitle-item#subtitle-cli
      a(href='https://github.com/m1010j/async-explorations-cli') CLI
    a(href='https://github.com/m1010j/async-explorations/')
      i.fab.fa-github