html {
  background-color: #011627;
  font-size: 1em;
  color: #fff;
}

body::-webkit-scrollbar,
.source::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #132d43;
}

.source::-webkit-scrollbar-thumb {
  background-color: #5f7d94;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.privacy-notice-container {
  border: 0.05rem solid #42629d;
  background-color: #0b2942;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#privacy-notice {
  padding: 0.5rem;
  text-align: justify;
  line-height: 1;
  color: #fff;
}

#agree-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.05rem solid #fff;
  font-size: 1.3rem;
  width: 15rem;
  height: 2.7rem;
  margin: 0.5rem;
}

#agree-button:hover {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
.result,
input,
#subtitle,
#privacy-notice,
#agree-button,
label,
#slider-span,
.form-label,
.navigation,
#reset-chart-button {
  font-family: 'Arsenal', sans-serif;
}

label,
#slider-span {
  font-size: 1rem;
  line-height: 1;
}

#slider-span {
  margin: 0.1rem;
}

h1,
h2,
h3,
h4,
.result,
#subtitle,
#subtitle a,
.navigation {
  color: #ff635d;
  text-decoration: none;
}

#subtitle a {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  width: 100%;
  text-align: center;
}

h2 {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

h3 {
  line-height: 2;
}

h4 {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

#subtitle,
.navigation {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 1rem;
}

#subtitle {
  width: 33rem;
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.navigation {
  width: 15rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.benchmarks-span {
  font-weight: bold;
}

.navigation:hover span {
  font-weight: normal;
}

#benchmarks-span:hover,
#results-span:hover {
  font-weight: bold;
}

#chart-container-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#chart-container,
.container {
  padding: 0.5rem;
  max-width: 90vw;
  border: 0.05rem solid #42629d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #0b2942;
  margin: 0.5rem;
}

#chart-container {
  width: 90vw;
}

#reset-chart-button {
  margin: auto;
  width: 16rem;
}

.container {
  width: 48rem;
}

main > div > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.n-input,
.submit {
  margin: 0 0.2rem;
  font-size: 1.3rem;
  padding: 0.3rem;
  box-sizing: border-box;
  height: 2.7rem;
  text-align: center;
  width: 2.7rem;
  background-color: #5f7e97;
  border: none;
  color: #fff;
  -moz-appearance: textfield;
}

.n-input::placeholder {
  color: #ccc;
}

.n-input:hover {
  background-color: #6e90ad;
}

.n-input:focus {
  background-color: #769cbc;
  outline: none;
}

.n-input::-webkit-inner-spin-button,
.n-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='submit'],
#agree-button {
  background-color: #011627;
  color: #fff;
  cursor: pointer;
}

input[type='submit'] {
  border: 0.1rem solid #fff;
  width: 5rem;
}

input[type='submit']:hover {
  font-weight: bold;
}

input[type='submit']:disabled {
  color: #5f7e97;
  border: 0.1rem solid #5f7e97;
  cursor: auto;
  font-weight: normal;
  cursor: not-allowed;
}

code {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  font-family: 'Oxygen Mono', monospace;
}

.type-form {
  margin: auto;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  margin: auto;
}

.result {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.2rem;
  color: #d6deeb;
  font-size: 1.3rem;
}

.source {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #000;
  padding: 1rem;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

/* This spinner is adapted from: https://loading.io/css/ */

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  top: calc(50% - 3.2rem);
  left: calc(50% - 3.2rem);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 5.1rem;
  height: 5.1rem;
  margin: 0.6rem;
  border: 0.6rem solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-label {
  width: 14rem;
  font-weight: bold;
}

.form-container {
  margin: 0.25rem 1rem 0.5rem 1rem;
}

.form-container,
#slider-form,
.checkboxes,
.radios {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#slider-form,
.checkboxes,
.radios {
  width: calc(100% - 14rem);
}

/* Slider styling adapted from here: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

#slider {
  -webkit-appearance: none;
  appearance: none;
  width: 20rem;
  height: 0.5rem;
  border-radius: 1rem;
  background: #ccc;
  outline: none;
}

#slider:hover {
  background: #eee;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #ff635d;
  cursor: pointer;
  border-radius: 50%;
}

#slider::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: #ff635d;
  cursor: pointer;
  border-radius: 50%;
}

/* Checkbox and radio styling adapted from here: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.checkbox-label {
  display: block;
  position: relative;
  padding: 0 0.7rem 0.1rem 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 11rem;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #ccc;
}

.checkbox-label:hover input ~ .checkmark {
  background-color: #eee;
}

.checkbox-label input:checked ~ .checkmark {
  background-color: #ff635d;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 0.3rem;
  top: 0.15rem;
  width: 0.25em;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.1rem 0.1rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.avg-or-min-radio-label {
  width: 4rem;
}

.os-radio-label {
  width: 3.8rem;
}

.num-cores-radio-label {
  width: 1rem;
}

.radio-label {
  display: block;
  position: relative;
  padding: 0 0.7rem 0 1.2rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #ccc;
  border-radius: 50%;
}

.radio-label:hover input ~ .radio-span {
  background-color: #eee;
}

.radio-label input:checked ~ .radio-span {
  background-color: #ff635d;
}

.radio-span:after {
  content: '';
  position: absolute;
  display: none;
}

.radio-label input:checked ~ .radio-span:after {
  display: block;
}

.radio-label .radio-span:after {
  top: 0.32rem;
  left: 0.32rem;
  width: 0.36rem;
  height: 0.36rem;
  border-radius: 50%;
  background: white;
}

@media (orientation: portrait) {
  html {
    font-size: 1.8em;
  }
}
