html {
  background-color: #011627;
  font-size: 1em;
  color: #fff;
}

body::-webkit-scrollbar,
.source::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #132d43;
}

.source::-webkit-scrollbar-thumb {
  background-color: #5f7d94;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.privacy-notice-container {
  border: 0.05rem solid #42629d;
  background-color: #0b2942;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#privacy-notice {
  padding: 0.5rem;
  text-align: justify;
  line-height: 1;
  color: #fff;
}

#agree-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.05rem solid #fff;
  font-size: 1.3rem;
  width: 15rem;
  height: 2.7rem;
  margin: 0.5rem;
}

#agree-button:hover {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
.result,
input,
.subtitle,
#privacy-notice,
#agree-button {
  font-family: 'Arsenal', sans-serif;
}

h1,
h2,
h3,
.result,
.subtitle,
.subtitle a {
  color: #ff635d;
  text-decoration: none;
}

.subtitle a {
  font-weight: bold;
}

h1,
h2,
h3 {
  width: 100%;
  text-align: center;
}

h3 {
  line-height: 2;
}

h2 {
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.subtitle {
  width: 33rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.container {
  position: relative;
  padding: 0.5rem;
  width: 48rem;
  max-width: 90vw;
  border: 0.05rem solid #42629d;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #0b2942;
}

main > div > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin: 0 0.2rem;
  font-size: 1.3rem;
  padding: 0.3rem;
  box-sizing: border-box;
  height: 2.7rem;
  text-align: center;
}

input[type='number'] {
  width: 2.7rem;
  background-color: #5f7e97;
  border: none;
  color: #fff;
  -moz-appearance: textfield;
}

input[type='number']::placeholder {
  color: #ccc;
}

input[type='number']:hover {
  background-color: #6e90ad;
}

input[type='number']:focus {
  background-color: #769cbc;
  outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='submit'],
#agree-button {
  background-color: #011627;
  color: #fff;
  cursor: pointer;
}

input[type='submit'] {
  border: 0.1rem solid #fff;
  width: 5rem;
}

input[type='submit']:hover {
  font-weight: bold;
}

input[type='submit']:disabled {
  color: #5f7e97;
  border: 0.1rem solid #5f7e97;
  cursor: auto;
  font-weight: normal;
  cursor: not-allowed;
}

code {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  font-family: 'Oxygen Mono', monospace;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
}

.result {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.2rem;
  color: #d6deeb;
  font-size: 1.3rem;
}

.source {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #000;
  padding: 1rem;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}

/* This spinner is adapted from: https://loading.io/css/ */

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  top: calc(50% - 3.2rem);
  left: calc(50% - 3.2rem);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 5.1rem;
  height: 5.1rem;
  margin: 0.6rem;
  border: 0.6rem solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Slider styling adapted from here: https://www.w3schools.com/howto/howto_js_rangeslider.asp */

#slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 0.5rem; /* Specified height */
  border-radius: 1rem;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
#slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  background: #ff635d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

#slider::-moz-range-thumb {
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  background: #ff635d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

/* Checkbox styling adapted from here: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* Customize the label (the container) */
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: #ff635d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 0.2rem;
  top: 0.05rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (orientation: portrait) {
  html {
    font-size: 1.8em;
  }
}
